#main-title {
    font-size: 1.5rem;
}

.roboto-slab-font {
    
    font-family: "Roboto Slab", cursive;
}

/* some bootstrap classes use !important so need to use it here to override the colours */
.cafe-noir-bg {
    
    background-color: #513b1f !important;
}

.umber-text {
    
    color: #5c573e;
}

.cafe-noir-text {
    
    background-color: #513b1f;
}

.straw-bg {
    
    background-color: #c8d96f;
}

.footer {
    
    min-height: 5rem;
}

i {
    margin-left: 0.5rem;
}

body {
    font-family: "Caladea", sans-serif;
}

.card > a {
    
    max-width: 60%;
    margin-top: 1rem;
}

.card {
    
    align-items: center;
    background-color: #c8d96f;
    border: 0.3rem solid #513b1f;
}

.jumbotron {
    
    margin-top: 1rem;
    background-color: #c8d96f;
    border: 0.3rem solid #513b1f;
}

#welcome {
    
    margin-bottom: 3rem;
    color: #513b1f;
    font-weight: bolder;
}

#welcome-sub {
    
    color: #513b1f;
    font-size: 1.5rem
}

.card-title {
    
    color: #513b1f;
}

.card-text {
    
    color: #5c573e;
}

#index-card {
    
    border-color: transparent;
}

.card-title > a {
    
    color: #513b1f;
}

#all-books {
    
    color: #513b1f;
}