#main-title {
    font-size: 2rem;
}

.roboto-slab-font {
    
    font-family: "Roboto Slab", cursive;
}

/* some bootstrap classes use !important so need to use it here to override the colours */
.cafe-noir-bg {
    
    background-color: #513b1f !important;
}

.footer {
    
    min-height: 5rem;
}

i {
    margin-left: 0.5rem;
}

body {
    font-family: "Caladea", sans-serif;
}