#main-title {
    font-size: 1.5rem;
}

.container {
    
    /* this is a fix for the footer being positioned absolutely,
        so that it sits on top of the container */
    padding-bottom: 5rem;
}

.roboto-slab-font {
    
    font-family: "Roboto Slab", cursive;
}

/* some bootstrap classes use !important so need to use it here to override the colours */
.cafe-noir-bg {
    
    background-color: #513b1f !important;
}

.umber-text {
    
    color: #5c573e;
}

.cafe-noir-text {
    
    color: #513b1f;
}

.straw-bg {
    
    background-color: #c8d96f;
}

.footer {
    
    min-height: 5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

i {
    margin-left: 0.5rem;
}

body {
    font-family: "Caladea", sans-serif;
    min-height: 100vh;
    position: relative;
}

.card > a {
    
    max-width: 60%;
    margin-top: 1rem;
}

.card {
    
    align-items: center;
    background-color: #c8d96f;
    border: 0.2rem solid #513b1f;
}

.jumbotron {
    
    margin-top: 1rem;
    background-color: #c8d96f;
    border: 0.3rem solid #513b1f;
    display: inline-block;
}

#welcome {
    
    margin-bottom: 3rem;
    color: #513b1f;
    font-weight: bolder;
}

#welcome-sub {
    
    color: #513b1f;
    font-size: 1.5rem
}

.card-title {
    
    color: #513b1f;
    font-weight: bold;
}

.card-text {
    
    color: #513b1f;
}

#index-card {
    
    border-color: transparent;
}

.card-title > a {
    
    color: #513b1f;
}

#all-books {
    
    color: #513b1f;
}

#book-card {
    
    margin-top: 1rem;
}

#book-img {
    
    max-width: 80%;
    margin-top: 1rem;
}

#review-title {
    
    text-align: left;
}

#review-title-group {
    
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.review-block {
    
    margin: 1rem 0;
    background-color: #c8d96f;
    padding: 0.5rem;
    border: 0.1rem solid #5c573e;
}

#add-review-button {
    
    background-color: #5c573e;
    color: #ffffff;
}

#add-review-button:hover {
    
    border: 1px solid #a5b452;
}

#delete-review-button {
    
    background-color: #5c573e;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin: 0 0.2rem;
}

#edit-review-button {
    
    background-color: #a5b452;
    border: 1px solid #5c573e;
    color: #ffffff;
    margin: 0 0.2rem;
}

#no-reviews {
    
    margin: 2rem 0;
    font-size: 1.5rem;
}

.two-buttons {
    
    display:flex;
    justify-content: flex-end;
}

#no-results {
    
    margin: 2rem 0;
    font-size: 1.5rem;
}

.book-form {
    
    background-color: #c8d96f;
    border: 1px solid #513b1f;
}

.brown-button {
    
    background-color: #5c573e;
    color: #ffffff;
    margin: 1rem 0;
}

.centre-button {
    
    display: flex;
    justify-content: center;
}

.back-to-book {
    
    text-decoration: underline;
    color: #a5b452;
    font-weight: bolder;
    margin: 1rem 0;
    display: block;
}

.centre-div {
    
    text-align: center;
}