{% extends 'index.html' %} {% block content %}
<div class="container">
    
    <a href="{{ url_for("book", book_id=current_book._id)}}">Back to Book Page</a>
    
    <h3>Adding review for {{ current_book.title }}</h3>
    <form>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Enter a name">
        </div>

        <div class="form-group">
            <label>Review text</label>
            <textarea class="form-control" placeholder="What did you think of the book?" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

{% endblock %}
