{% extends 'base.html' %}

{% block content %}

<div class="container">

  <!-- Page Heading -->
  <h1 id="all-books" class="my-4 text-center">All Books</h1>

  <div class="row">
     
    {% for book in all_books %}  
    
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100">
        {% set source = "static/images/no-cover-image.png" %}
        {% if book['image_url'] %}
        {% set source = book['image_url'] %}
        {% endif %}
        <a href= "{{ url_for("book", book_id=book['_id']) }}"><img class="card-img-top" src={{ source }} alt=""></a>
        <div class="card-body">
          <h4 class="card-title text-center">
            <a href="{{ url_for("book", book_id=book['_id']) }}">{{ book['title'] }}</a>
          </h4>
          <p class="card-text text-center"> {{ book['author'] }} </p>
        </div>
      </div>
    </div>
  
  {% endfor %}
  
  </div>
  <!-- /.row -->


</div>

{% endblock %}