{% extends 'index.html' %}
{% block content %}

<div class="container">
<div class="card mb-3">
  {% set source = "/static/images/no-cover-image.png" %}
  {% if book.image_url %}
  {% set source = book.image_url %}
  {% endif %}
  <img src="{{ source }}" class="card-img-top" alt="Cover Image">
  <div class="card-body">
    <h4 class="card-title">{{ book.title }}</h4>
    <p class="card-text"> {{ book.author }}</p>
    
  </div>
    <h5 class="card-title"> Book Reviews </h5>
    
    
    {% for review in book.reviews %}
    
    <button>Delete Review</button>
    <button>Edit Review</button>
    <h6 class="card-title"> {{ review.username }} </h6>
    <p class="card-text"> {{ review.review_text }} </p>
    
    {% endfor %}
    
    {% if not book.reviews %}
    <p> No reviews yet! </p>
    {% endif %}
    
  
</div>
</div>

{% endblock %}