{% extends 'index.html' %}
{% block content %}

<div class="container">
<div class="card mb-3">
  
  {% set source = "/static/images/no-cover-image.png" %}
  {% if book.image_url %}
  {% set source = book.image_url %}
  {% endif %}
  
  <img src="{{ source }}" class="card-img-top" alt="Cover Image">
  <div class="card-body">
    <h4 class="card-title">{{ book.title }}</h4>
    <p class="card-text"> {{ book.author }}</p>
    
  </div>
    <h5 class="card-title"> Book Reviews </h5>
    <a href="{{ url_for("add_review", book_id=book._id) }}"><button type="button" class="btn btn-success">Add Review</button></a>
    
    {% for review in book.reviews %}
    
    
    <h6 class="card-title"> {{ review.username }} </h6>
    <p class="card-text"> {{ review.review_text }} </p>
    <a href="{{ url_for("delete_review", book_id=book._id, username=review.username, review_text=review.review_text)}}" role="button" class="btn btn-danger" title="Delete Review">Delete Review</a>
    <a href="{{ url_for("edit_review", book_title=book.title, book_id=book._id, username=review.username, review_text=review.review_text) }}" role="button" class="btn btn-info" title="Edit Review">Edit Review</a>
    
    {% endfor %}
    
    {% if not book.reviews %}
    <p> No reviews yet! </p>
    {% endif %}
    
  
</div>
</div>

{% endblock %}