{% extends 'base.html' %}
{% block content %}

<div class="container">
<div id="book-card" class="card mb-3">
  
  {% set source = "/static/images/no-cover-image.png" %}
  {% if book.image_url %}
  {% set source = book.image_url %}
  {% endif %}
  
  <img id="book-img" src="{{ source }}" class="card-img-top" alt="Cover Image">
  <div class="card-body">
    <h4 class="card-title text-center">{{ book.title }}</h4>
    <p class="card-text text-center"> {{ book.author }}</p>
  
  </div>
</div>  
  
    <div id="review-title-group">
        <h5 id="review-title" class="card-title"> Book Reviews </h5>
        <a href="{{ url_for("add_review", book_id=book._id) }}"><button  id="add-review-button" type="button" class="btn">Add Review</button></a>
    </div>
    
    
    {% for review in book.reviews %}
    
    <div class="review-block">
        <h6 class="card-title"> {{ review.username }} </h6>
        <p class="card-text"> {{ review.review_text }} </p>
        <a id="delete-review-button" href="{{ url_for("delete_review", book_id=book._id, username=review.username, review_text=review.review_text)}}" role="button" class="btn" title="Delete Review">Delete</a>
        <a id="edit-review-button" href="{{ url_for("edit_review", book_title=book.title, book_id=book._id, username=review.username, review_text=review.review_text) }}" role="button" class="btn" title="Edit Review">Edit</a>
    </div>
    
    {% endfor %}
    
    {% if not book.reviews %}
    <p> No reviews yet! </p>
    {% endif %}
    
  

</div>

{% endblock %}