{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="jumbotron">
    <h1 id="welcome" class="text-center">Welcome to Book Stop</h1>
    <h3 class="text-center">Have you read ... ?</h3>
    <div class="card mb-3">

      {% set source = "/static/images/no-cover-image.png" %} {% if random_book.image_url %} {% set source = random_book.image_url %} {% endif %}

      <a href= "{{ url_for("book", book_id=random_book['_id']) }}"><img src="{{ source }}" class="card-img-top" alt="Cover Image"></a>
      <div class="card-body">
        <a href= "{{ url_for("book", book_id=random_book['_id']) }}"><h4 class="card-title">{{ random_book.title }}</h4></a>
        <p class="card-text"> {{ random_book.author }}</p>
        
      </div>
    </div>
  </div>
</div>

{% endblock %}
